.section__committee {
    font-size: 2rem;
    margin-bottom: 35rem;

    & h2 {margin-top: 10rem;}

    & .table {
        & td:not(:first-child) {
            padding: 3rem 0;
        }

        
    }
    & .btn {
        font-size: 2rem;
        margin: 0 2rem;
    }

    & .flatpickr-input {
        border: 2px solid whitesmoke;
        border-radius: 20px;
        padding: 12px 10px;
        text-align: center;
        width: 250px;
        font-size: 1.7rem;
    }
}
