.section__signin {
    background-color: #f8fafc;

    #faculty{
        height: 9.6rem;
        max-height: 9.6rem;
        line-height: 5rem;
    }
    #card{
        max-width: 56rem;
        max-height: 24rem;
        margin: 1rem auto 13.4rem auto;
    }

    .card-body .form-group .signupButton {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        display: block;
        width: auto;
        margin: auto;
        max-height: 16rem;
        margin-top: 13.4rem;
        margin-bottom: 4.8rem;
    }
    .container_lg{ 
        height: 100%;
        align-content: center;
    }
    .signupCard{
        height: 31.44rem;
        margin: 20.5rem auto;
        width: 108rem;
        background-color: rgba(0,0,0,0.5) !important;
    }
    .card-header h3{
        color: white;
    }
    .input-group-prepend span{
        width: 9rem;
        background-color: #FFC312;
        color: black;
        border:0 !important;
    }
    input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;
    }
    
    .card-header h3 {
        font-size: 3rem;
    }
    
    #formsignin {
        margin-top: 14.24rem;
    }
    .login_btn{
        color: black;
        background-color: #FFC312;
        width: 16rem;
    }
    .login_btn:hover{
        color: black;
        background-color: white;
    }
    .links{
        color: white;
    }
    .links a{
        margin-left: 0.4rem;
    }
    
    .alert-danger {
        margin-top: 10rem;
        font-size: 1.5rem;
    }
    
    .signupCard .card-body input,
    .signupCard .card-body select,
    .signupCard .card-body textarea,
    .signupCard .card-body button{
        font-size: 1.5rem;
    }
    
    .signupCard .card-body .input-group-prepend {
        width: 4rem;
    }
    
    .signupCard .card-body .input-group-prepend i {
        font-size: 1.5rem;
        margin-left: 0.5rem;
    } 
    
     
    .signupCard .card-body label {
        font-size: 1.25rem;
    }
}