#section__chapters {
    margin: 7.8rem 0 48.2rem 0; 

    & h2 {
        margin-bottom: 6rem!important;
    }

    & .btn-info,
    & .btn-primary,
    & .btn-warning  {
        font-size: 2rem;
        padding: 1rem;
        border-radius: .7rem;
        margin: 0 1rem;
    }

    & hr {
        border-top: .6rem solid $mainOrange;
        margin-bottom: 5rem;
    }

    & .add-chapter {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__button {
            flex-direction: row;
            justify-content: center;
        }

        & p {
            font-size: 1.7rem;
            display: flex;
            justify-content: center;
        }
    }
} 

.citationForm {
	width: 100rem;
	margin: 2rem 2rem ;
}



#todoInput {
	width: 100%;
	height: 4rem;
	background: none;
	border: none;
	border-bottom: 0.1rem solid #34495e;
	outline: none;
	font: 300 2rem 'Ubuntu', sans-serif;
	color: #34495e;
}

/*****************************LIST STYLES*****************************/

.task {
	width: 100%;
	line-height: 3rem;
	padding: 0 2rem;
	color: #34495e;
	transition: all .3s ease;
}
.task:hover {
	background: rgba(0, 0, 0, .02);
	cursor: pointer;
}

.task:hover span{
	opacity: 1;
}

.task span {
  float: right;
  color: #c0392b;
  transition: all 0.3s;
  opacity: 0;
}

.task span:hover {
  color: #e74c3c
}

::-webkit-input-placeholder {
    color:#34495e;
}

::-moz-placeholder {
    color:#34495e;
}

::-ms-placeholder {
    color:#34495e;
}

::placeholder {
    color: #34495e;
}

#cancelPermission {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
	font-size: 1.7rem;
	text-align: center;
}

.ck-content {
    height: 550px;
}

.Difference {
    font-family: monospace;
  }
  
  .Difference > del {
    background-color: rgb(255, 224, 224);
    text-decoration: none;
  }
  
  .Difference > ins {
    background-color: rgb(201, 238, 211);
    text-decoration: none;
  }

  .section__create-chapter{
      & h2:first-child {
          margin:18rem 0 0 0;
      }

      & button {
          margin-top:10rem;
      }
  }