.template_faq {
    background: #edf3fe none repeat scroll 0 0;
}
.panel-group {
    background: #fff none repeat scroll 0 0;
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 3rem 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 0;
    padding: 3rem;
    margin-top: 10rem;
}
#accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 1.5rem 1rem;
}
#accordion .panel-heading {
    border-radius: 3rem;
    padding: 0;
}
#accordion .panel-title a {
    background: #fff none repeat scroll 0 0;
    border: 0.1rem solid #ddd;
    border-radius: 3rem;
    color: #333;
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.2rem 2rem 1.2rem 5rem;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.status {
    background: #38b50e none repeat scroll 0 0;
    border: 0.1rem solid transparent;
    color: #fff;
}
#accordion .panel-title a.collapsed {
    background: #fff none repeat scroll 0 0;
    border: 0.1rem solid #ddd;
    color: #333;
}
#accordion .panel-title a.collapsed.status {
    background: #38b50e none repeat scroll 0 0;
    border: 0.1rem solid transparent;
    color: #fff;
}
#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
    background: #fff none repeat scroll 0 0;
    border: 0.1rem solid #ddd;
    border-radius: 50%;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.58);
    color: #333;
    content: "";
    font-family: fontawesome;
    font-size: 2.5rem;
    height: 5.5rem;
    left: -2rem;
    line-height: 5.5rem;
    position: absolute;
    text-align: center;
    top: -0.5rem;
    transition: all 0.3s ease 0s;
    width: 5.5rem;
}

#accordion .panel-title a.status::after, #accordion .panel-title a.status.collapsed::after {
    background: #38b50e none repeat scroll 0 0;
    border: 0.1rem solid transparent;
    color: #fff;
}
#accordion .panel-title a.collapsed::after {
    background: #fff none repeat scroll 0 0;
    border: 0.1rem solid #ddd;
    box-shadow: none;
    color: #333;
    content: "";
}
#accordion .panel-title a.status.collapsed::after {
    background: #38b50e none repeat scroll 0 0;
    border: 0.1rem solid transparent;
    color: #fff;
}
#accordion .panel-body {
    background: transparent none repeat scroll 0 0;
    border-top: medium none;
    padding: 2rem 2.5rem 1rem 0.9rem;
    position: relative;
}
#accordion .panel-body p {
    border-left: 0.1rem dashed #8c8c8c;
    padding-left: 2.5rem;
}
.checkmark {
    position: relative;
    left: 0.5rem;
    top: 0.2rem;
    color: white;
    float: right;
}
.process-text {
    font-weight: bold;
}