html,body{
    background-color: #f8fafc;
}

.navbar {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 6px 5px 0 rgba(0, 0, 0, 0.019);
}

#faculty{
    height: 6rem;
    max-height: 6rem;
    line-height: 5rem;
}
#card{
    max-width: 35rem;
    max-height: 15rem;
    margin: 10px auto;
}
.logo {
    display: block;
    width: auto;
    margin: auto;
    max-height: 100px;
    margin-top: 9rem;
    margin-bottom: 3rem;
}
.container_lg{
    height: 100%;
    align-content: center;
}
.signupCard{
    height: 25.9rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 67.5rem;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-header h3{
    color: white;
}
.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

#formsignup {
    margin-top: 7.4rem;
}
.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
.login_btn:hover{
    color: black;
    background-color: white;
}
.links{
    color: white;
}
.links a{
    margin-left: 4px;
}